[tool.black]
skip-string-normalization = true
line-length = 120

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "fastapi_validation"
version = "1.1.17"
authors = [
  { name="Dzung Nguyen", email="dung@megatron-solutions.com" },
  { name="Harry Dang", email="harrydang.tech@gmail.com" },
]
description = "FastAPI Event"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies=[
  'pydantic>=2.6.0',
  'python-keycloak~=2.14.0',
  'SQLAlchemy~=2.0.4',
  'fastapi-exception>=1.3.0',
  'fastapi-global-variable>=0.0.4',
  'beanie>=1.21.0'
]


[project.urls]
"Homepage" = "https://github.com/megatron-global/fastapi-validation"
"Bug Tracker" = "https://github.com/megatron-global/fastapi-validation/issues"

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]
"**/{tests,docs,tools, migrations}/*" = ["E402", "E501", "UP007"]
"**/*{migrations}/*"= ["E402", "E203", "E501", "F401"]
"**/*{pixer_mail}/*"= ["UP007", "E712", "E101", "UP009", "UP035", "F401", "E501"]


[tool.ruff]
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
    "**/migrations/*",
    "*/deprecated-migrations/*"
]

line-length = 120
indent-width = 2

[tool.ruff.lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
select = [
    "E", # pycodestyle
    "F", # Pyflakes
    "SIM", # flake8-simplify
    "UP",  # pyupgrade
]
#E402 Module level import not at top of file
ignore = ["E402", "UP015", "SIM115"]

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.format]
quote-style = "single"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.isort]
indent = 2
line_length = 120
multi_line_output = 3
group_by_package = true
ensure_newline_before_comments = true
include_trailing_comma = true

